<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q-Secure Chat - Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
    <script src="{{ url_for('static', filename = 'js/login.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>Q-Secure Chat</h1>
    </header>
    <main>
      <section>
        <h2>Login</h2>
        <form action="/signin" method="post" id="loginForm">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form>
        <p id="error-message" style="color: red; display: none">
          Incorrect username or password. Please try again.
        </p>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
        <p><a href="/forgot_password_page">Forgot Password?</a></p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Q-Secure Chat. All rights reserved.</p>
    </footer>
  </body>
</html>
