<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q Secure</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='images/light.png') }}"
        alt="Q Secure Chat Logo"
        class="header-img"
      />
      <h1>Q-Seucre Chat</h1>
    </header>
    <section class="login-box">
      <h2 class="login-heading">Login</h2>
      <hr class="rule" />
      <div class="cred-container">
        <label for="username" class="label-login">Username:</label>
        <input type="text" id="username" class="ip-login" />
      </div>
      <div class="cred-container">
        <label for="password" class="label-login">Password:</label>
        <input type="password" id="password" class="ip-login" />
      </div>
      <button class="register-button">Sign Up</button>
      <p class="helper-text">Successfully Created an Account.</p>
      <a href="/login" class="log-in">Log In</a>
    </section>
    <button id="theme-button">Change Theme</button>
  </body>
</html>
