<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q-Secure Chat - Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type="image/x-icon"
    />
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>Q-Secure Chat</h1>
    </header>
    <main>
      <section>
        <h2>Register</h2>
        <form action="/signup" method="post" id="signupForm">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Register</button>
        </form>
        <p id="error-message" style="color: red; display: none"></p>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Q-Secure Chat. All rights reserved.</p>
    </footer>
  </body>
</html>
